<form>
  <fieldset class="form-group">
    <label for="command">Command</label>
    <input type="text" class="form-control" id="command" placeholder="Enter command">
  </fieldset>
  <fieldset class="form-group">
    <button id="cmd_button" type="button" class="btn btn-default">Command</button>
    <button id="undo_button" type="button" class="btn btn-default">Undo</button>
  </fieldset>
</form>
