<div class="btn-toolbar game_command">
  <button id="done" type="button" class="btn btn-default">
    Done
  </button>

  <button id="new_move" type="button" class="btn btn-default">
    New move
  </button>

  <button id="pick" type="button" class="btn btn-default">
    Pick
  </button>

  <button id="activate" type="button" class="btn btn-default">
    Activate
  </button>

  <button id="do_nothing" type="button" class="btn btn-default">
    Skip new move
  </button>
</div>
