<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="row score">
      <h3 id="score"></h3>
    </div>

    <div class="row">
      <svg class="ttable" id="tiles"></svg>
    </div>

    <div class="row">
      <div class="tutor" id="hint"></div>
    </div>
    <div class="row">
      <%= render :partial => 'game_command' %>
    </div>
  </div>
</div>
