<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Regatta</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div>
	<svg id="tiles" width="600" height="400">
	  <!-- <path d=" M 10 25 -->
	  <!-- 	    C 20 45 20 55 10 75  -->
	  <!-- 	    L 60 75 -->
	  <!-- 	    C 60 30 60 30 10 25" -->
	  <!-- 	stroke="red" stroke-width="2" fill="red" > -->

	  <!--  <animateTransform attributeType="xml" -->
	  <!--                   attributeName="transform" -->
	  <!-- 		     type="rotate" -->
	  <!--                   from="0 35 50" -->
	  <!--                   to="225 35 50" -->
	  <!--                   dur="1s" -->
	  <!--                   fill="freeze"/> -->
	  <!--  </path> -->
	  </svg>
      </div>
    </div>
</div>
