<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Regatta</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">

      <div class="row">
	<div class="col-md-12">
	  <svg class="ttable" id="tiles"></svg>
	</div>
      </div>

      <div class="row">
	<div class="col-md-12">
	  <div class="tutor" id="hint"></div>
	</div>
      </div>
      
    </div>
    <div class="col-md-6">
      <button id="done" type="button" class="btn btn-default">Done</button>
    </div>
    
</div>

        
      
      

