// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';				     
.container {
    padding: 0 100px;
}

.ttable {
    border: 2px solid $orange1;
}

.player2 {
    border: 2px solid $blue1;
    fill: "red";
}

