// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';				     

.container {
    padding: 0 100px;
}

.ttable {
    border: 2px solid $orange1;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.active1 {
    stroke: red;
}

.onmove1  {
    background-color: black;
    color: white;
}
.onmove0  {
    background-color: white;
    color: black;
}
.footer {
    padding-top: 30px;
    text-align: center;
}

.game_command {
    padding-top: 30px;
    padding-left: 10px;
    padding-righ: 10px;
    padding-bottom: 3px;
}

.game {
    border: 1px solid $blue1;
    align: center;

}

.command {
    border: 3px solid $bw-grey;
    padding: 5px;
    margin: 5px;
}

